<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>ProfileServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>printAllEmployees</servlet-name>
    <servlet-class>printAllEmployees</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>printAllEmployees</servlet-name>
    <url-pattern>/printAllEmployees</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>UpdateServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewAllPending</servlet-name>
    <servlet-class>ViewAllPending</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>ViewAllPending</servlet-name>
    <url-pattern>/ViewAllPending</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewAllResolved</servlet-name>
    <servlet-class>ViewAllResolved</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>ViewAllResolved</servlet-name>
    <url-pattern>/ViewAllResolved</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>VerifyRequest</servlet-name>
    <servlet-class>VerifyRequest</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>VerifyRequest</servlet-name>
    <url-pattern>/VerifyRequest</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewCertainRei</servlet-name>
    <servlet-class>ViewCertainRei</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>ViewCertainRei</servlet-name>
    <url-pattern>/ViewCertainRei</url-pattern>
  </servlet-mapping>



</web-app>
